<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <div class="form-box">
      <h1>Login Page</h1>

      <div class="clash">
        <% if(err){ %>
          <p><%= err %></p>
        <% } %>
      </div>
      <form action="/login" method="post">
        <div class="inp">
          <label for="">username</label>
        <input type="text" name="name" id="" placeholder="enter username">
        </div>
        <div class="inp">
          <label for="">password</label>
        <input type="password" name="pass" id="" placeholder="enter passsword">
        </div>
        <button>log in</button>

      </form>
      <a href="/signup">dont have an account?,create one</a>
    </div>
  </div>
</body>
</html>